p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    height:1000px;
}

body{
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 20px;
    background-color: rgb(249,249,249);
    padding-bottom: 1000px;
    font-family: Roboto, Arial;
}